<div class="container">

    <h1>Inputs</h1>


    <!-- ----------- -->
    <!-- TEXT INPUTS -->
    <!-- ----------- -->

    <h3>Text inputs</h3>

    <div class="wrapper">

        <div class="formControl">
            <input type="text" placeholder="Regular">
        </div>

        <div class="formControl successFormControl">
            <input type="text" placeholder="Success">
        </div>

        <div class="formControl errorFormControl">
            <input type="text" placeholder="Error">
        </div>

        <div class="formControl" [ngClass]="{'disabledFormControl': !visiblePassword}">
            <input type="text" [placeholder]="!visiblePassword ? 'Disabled' : 'Enabled'" [disabled]="!visiblePassword ? true : false">
        </div>

        <div class="formControl">
            <input type="text" placeholder="Output" readonly>
        </div>

        <div class="formControl">
            <input type="text" placeholder="Required" required>
        </div>

        <div class="formControl rightImageFormControl">
            <input type="text" placeholder="Image on the right">
            <img src="assets/logos/linkedIn.svg">
        </div>

        <div class="formControl leftImageFormControl">
            <input type="text" placeholder="Image on the left">
            <img src="assets/logos/linkedIn.svg">
        </div>

    </div>

    <!-- -------- -->
    <!-- PASSWORD -->
    <!-- -------- -->

    <h3>Password</h3>


    <div class="wrapper">

        <div class="formControl passwordFormControl">

            <input #passwordInput type="password" placeholder="Password">

            <img class="clickable" *ngIf="!visiblePassword; else visiblePasswordTemplate" src="assets/logos/visibility.svg" (click)="toggleVisiblePassword()">
            <ng-template #visiblePasswordTemplate>
                <img class="clickable" src="assets/logos/visibility_off.svg" (click)="toggleVisiblePassword()">
            </ng-template>

        </div>

    </div>

    <!-- ---------- -->
    <!-- CHECKBOXES -->
    <!-- ---------- -->

    <h3>Checkboxes</h3>

    <div class="wrapper">

        <div class="formCheck">
            <label>Unchecked
                <input type="checkbox">
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck">
            <label>Checked
                <input type="checkbox" checked>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck disabledFormControl">
            <label>Disabled unchecked
                <input type="checkbox" disabled>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck disabledFormControl">
            <label>Disabled checked
                <input type="checkbox" disabled checked>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

    </div>


    <!-- ------------- -->
    <!-- RADIO BUTTONS -->
    <!-- ------------- -->

    <h3>Radio buttons</h3>

    <div class="wrapper">


        <div class="formCheck formCheckRadio">
            <label>Unchecked
                <input type="radio">
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio">
            <label>Checked
                <input type="radio" checked>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio disabledFormControl">
            <label>Unchecked disabled
                <input type="radio" disabled>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio disabledFormControl">
            <label>Checked disabled
                <input type="radio" checked disabled>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

    </div>


    <!-- ------- -->
    <!-- BUTTONS -->
    <!-- ------- -->

    <h1>Buttons</h1>

    <div class="wrapper">

        <button type="button" class="buttonPrimary">Primary</button>
        <button type="button" class="buttonSecondary">Secondary</button>

    </div>

    <!-- ------ -->
    <!-- COLORS -->
    <!-- ------ -->

    <h1>Colors</h1>

    <div class="wrapper">

        <div class="color darkBlue">
            <p>#2c3d46</p>
        </div>
        <div class="color softBlue">
            <p>#2f6a8a</p>
        </div>
        <div class="color green">
            <p>#5ea830</p>
        </div>
        <div class="color yellow">
            <p>#fac911</p>
        </div>
        <div class="color orange">
            <p>#e75a10</p>
        </div>
        <div class="color softGray">
            <p class="dark">#f2f2f2</p>
        </div>
        <div class="color darkGray">
            <p class="dark">#c2c2c2</p>
        </div>

    </div>

    <!-- ------------------ -->
    <!-- CLICKABLE ELEMENTS -->
    <!-- ------------------ -->
    <h1>Clickable elements</h1>

    <div class="wrapper">

        <div class="color darkBlue clickable">
            <p>clickable</p>
        </div>

        <div class="color softBlue inverseClickable">
            <p>inverseClickable</p>
        </div>

    </div>

    <!-- TYPOGRAPHIES -->

    <h1>Typographies</h1>

    <div class="column">

        <div class="columnItem">
            <span>Header 1</span>
            <h1>Unleash the power of Vision & Strategy</h1>
            <span class="spacer"></span>
            <span>32px bold #e75a10</span>
        </div>

        <div class="columnItem">
            <span>Header 2</span>
            <h2>Unleash the power of Vision & Strategy</h2>
            <span class="spacer"></span>
            <span>24px semibold #2c3d46</span>
        </div>

        <div class="columnItem">
            <span>Header 3</span>
            <h3>Unleash the power of Vision & Strategy</h3>
            <span class="spacer"></span>
            <span>Header 3</span>
        </div>

        <div class="columnItem">
            <span>Header 4</span>
            <h4>Unleash the power of Vision & Strategy</h4>
            <span class="spacer"></span>
            <span>Header 4</span>
        </div>

        <div class="columnItem">
            <span>Header 5</span>
            <h5>Unleash the power of Vision & Strategy</h5>
            <span class="spacer"></span>
            <span>Header 5</span>
        </div>

        <div class="columnItem">
            <span>Header 6</span>
            <h6>Unleash the power of Vision & Strategy</h6>
            <span class="spacer"></span>
            <span>Header 6</span>
        </div>

        <div class="columnItem">
            <span>Paragraph</span>
            <p>Vamos a elevar en el nivel de visión estratégica de profesionales y empresas en el mundo, creando el mayor ecosistema digital del pensamiento estratégico</p>
            <span class="spacer"></span>
            <span>14px regular #2c3d46</span>
        </div>

    </div>

    <h1>Tooltips</h1>

    <div class="wrapper"></div>

    <h1>Datetimepicker</h1>

    <div class="wrapper"></div>

</div>