<div class="logo">
    <img src="assets/logos/unvist +.png" alt="">
    <button class="buttonSecondary" (click)="logout()">Log out</button>
</div>

<div class="container">

    <!-- ----------- -->
    <!-- TEXT INPUTS -->
    <!-- ----------- -->

    <h1>Inputs</h1>

    <h3>Text inputs</h3>

    <div class="wrapper">

        <div class="formControl">
            <input type="text" placeholder="Regular">
        </div>

        <div class="formControl successFormControl">
            <input type="text" placeholder="Success" value="Well done!">
        </div>

        <div class="formControl errorFormControl">
            <input type="text" placeholder="Error" value="Something's wrong!">
        </div>

        <div class="formControl" [ngClass]="{'disabledFormControl': !visiblePassword}">
            <input type="text" [placeholder]="!visiblePassword ? 'Disabled' : 'Enabled'" [disabled]="!visiblePassword ? true : false" value="Try edit me">
        </div>

        <div class="formControl outputFormControl">
            <input type="text" placeholder="Output" readonly value="11/09/2021">
        </div>

        <div class="formControl">
            <input type="text" placeholder="Required" required value="I can't be empty">
        </div>

        <div class="formControl rightImageFormControl">
            <input type="text" placeholder="Image on the right" value="@jfernanv">
            <img src="assets/UIKit/twitter.svg">
        </div>

        <div class="formControl leftImageFormControl">
            <input type="text" placeholder="Image on the left" value="josuefernandez">
            <img src="assets/UIKit/linkedIn.svg">
        </div>

    </div>

    <!-- ------------ -->
    <!-- INPUT LABELS -->
    <!-- ------------ -->

    <h3>Input labels</h3>

    <div class="wrapper column">

        <div class="formControl">
            <label>Label on top:</label>
            <input type="text" placeholder="Choose a nickname ...">
        </div>

        <div class="formControl formControlLeftLabel">
            <label>Label on the left:</label>
            <input type="text" placeholder="Choose a nickname ...">
        </div>

    </div>

    <!-- -------- -->
    <!-- PASSWORD -->
    <!-- -------- -->

    <h3>Password</h3>

    <div class="wrapper">

        <div class="formControl passwordFormControl">
            <input #passwordInput [type]="visiblePassword ? 'text' : 'password'" placeholder="Password" value="curiosity killed the cat">
            <img class="clickable" [src]="visiblePassword ? 'assets/UIKit/visibility_off.svg' : 'assets/UIKit/visibility.svg'" (click)="toggleVisiblePassword()">
        </div>

    </div>

    <!-- -------- -->
    <!-- TEXTAREA -->
    <!-- -------- -->

    <h3>Textarea</h3>

    <div class="wrapper column">

        <div class="formControl">
            <textarea></textarea>
        </div>

    </div>

    <!-- ---------- -->
    <!-- CHECKBOXES -->
    <!-- ---------- -->

    <h3>Checkboxes</h3>

    <div class="wrapper">

        <div class="formCheck">
            <label>Unchecked
                <input type="checkbox">
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck smallFormCheck">
            <label>Small unchecked
                <input type="checkbox">
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck">
            <label>Checked
                <input type="checkbox" checked>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck disabledFormControl">
            <label>Disabled unchecked
                <input type="checkbox" disabled>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck disabledFormControl">
            <label>Disabled checked
                <input type="checkbox" disabled checked>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

    </div>

    <!-- ------------- -->
    <!-- RADIO BUTTONS -->
    <!-- ------------- -->

    <h3>Radio buttons</h3>

    <div class="wrapper">

        <div class="formCheck formCheckRadio">
            <label>Unchecked
                <input type="radio">
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio smallFormCheck">
            <label>Small unchecked
                <input type="radio">
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio">
            <label>Checked
                <input type="radio" checked>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio disabledFormControl">
            <label>Unchecked disabled
                <input type="radio" disabled>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

        <div class="formCheck formCheckRadio disabledFormControl">
            <label>Checked disabled
                <input type="radio" checked disabled>
                <span class="formCheckSign">
                </span>
            </label>
        </div>

    </div>

    <!-- --------- -->
    <!-- COMBO BOX -->
    <!-- --------- -->

    <h3>Combo box</h3>

    <div class="wrapper">

        <TCMcomboBox [options]="options" [selectedOption]="selectedOption"></TCMcomboBox>

    </div>

    <!-- ------- -->
    <!-- BUTTONS -->
    <!-- ------- -->

    <h1>Buttons</h1>

    <div class="wrapper">

        <button type="button" class="buttonPrimary">Primary</button>
        <button type="button" class="buttonPrimary" disabled>Primary</button>
        <button type="button" class="buttonSecondary">Secondary</button>
        <button type="button" class="buttonSecondary" disabled>Secondary</button>

    </div>

    <!-- ------ -->
    <!-- COLORS -->
    <!-- ------ -->

    <h1>Colors</h1>

    <div class="wrapper">

        <div class="color orange">
            <p>orange</p>
            <p>#e75a10f2 (95%)</p>
        </div>
        <div class="color green">
            <p>green</p>
            <p>#5ea830e6 (90%)</p>
        </div>
        <div class="color yellow">
            <p class="dark">yellow</p>
            <p class="dark">#fac911d9 (85%)</p>
        </div>
        <div class="color softBlue">
            <p>softBlue</p>
            <p>#2f6a8acc (80%)</p>
        </div>
        <div class="color darkBlue">
            <p>darkBlue</p>
            <p>#2c3d46</p>
        </div>
        <div class="color softGray">
            <p class="dark">softGray</p>
            <p class="dark">#f2f2f2</p>
        </div>
        <div class="color darkGray">
            <p class="dark">darkGray</p>
            <p class="dark">#c2c2c2</p>
        </div>

    </div>

    <!-- ------------------ -->
    <!-- CLICKABLE ELEMENTS -->
    <!-- ------------------ -->
    <h1>Clickable elements</h1>

    <div class="wrapper">

        <div class="color darkBlue clickable">
            <p>clickable</p>
        </div>

        <div class="color softBlue inverseClickable">
            <p>inverseClickable</p>
        </div>

    </div>

    <!-- TYPOGRAPHIES -->

    <h1>Typographies</h1>

    <div class="column">

        <div class="columnItem">
            <span>Header 1</span>
            <h1>Unleash the power of Vision & Strategy</h1>
            <span class="spacer"></span>
            <span>32px bold #e75a10</span>
        </div>

        <div class="columnItem">
            <span>Header 2</span>
            <h2>Unleash the power of Vision & Strategy</h2>
            <span class="spacer"></span>
            <span>24px semibold #2c3d46</span>
        </div>

        <div class="columnItem">
            <span>Header 3</span>
            <h3>Unleash the power of Vision & Strategy</h3>
            <span class="spacer"></span>
            <span>Header 3</span>
        </div>

        <div class="columnItem">
            <span>Header 4</span>
            <h4>Unleash the power of Vision & Strategy</h4>
            <span class="spacer"></span>
            <span>Header 4</span>
        </div>

        <div class="columnItem">
            <span>Header 5</span>
            <h5>Unleash the power of Vision & Strategy</h5>
            <span class="spacer"></span>
            <span>Header 5</span>
        </div>

        <div class="columnItem">
            <span>Header 6</span>
            <h6>Unleash the power of Vision & Strategy</h6>
            <span class="spacer"></span>
            <span>Header 6</span>
        </div>

        <div class="columnItem">
            <span>Paragraph</span>
            <p>Vamos a elevar en el nivel de visión estratégica de profesionales y empresas en el mundo, creando el mayor ecosistema digital del pensamiento estratégico</p>
            <span class="spacer"></span>
            <span>14px regular #2c3d46</span>
        </div>

    </div>

    <!-- -------- -->
    <!-- TOOLTIPS -->
    <!-- -------- -->

    <h1>Tooltips</h1>

    <div class="wrapper">

        <div class="color darkBlue" TCMtooltip>
            <p>See tooltip!</p>
            <ng-template #tooltipTemplate>
                <div class="tooltip">This is my tooltip! </div>
            </ng-template>
        </div>

    </div>

    <!-- --------------- -->
    <!-- DATETIME PICKER -->
    <!-- --------------- -->

    <h1>Datetimepicker</h1>

    <div class="wrapper"></div>

</div>