:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.logo {
    display: flex;
    height: 5rem;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo>img {
    margin: 0 auto;
    height: 100%;
}

.logo>button {
    height: fit-content;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 0;
}


/* Container */

.container {
    display: flex;
    flex-flow: column;
    padding: 3em;
    height: fit-content;
    border: 1px dotted var(--softGray);
    margin: auto;
}


/* Wrapper */

.wrapper {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1em;
}

.wrapper>.formControl,
.wrapper>.formCheck {
    margin: 0 1rem 1rem 0;
}

.wrapper>button {
    margin: 0 1rem 1rem 0;
}


/* Colors */

.color {
    height: 4rem;
    width: 9rem;
    margin: 0 3rem 3rem 0;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
}

.color>p {
    margin: auto auto 0 auto;
    color: white;
    font-size: 0.8571rem;
}

.color>p:last-of-type {
    margin: auto;
}

.darkBlue {
    background-color: var(--darkBlue);
}

.softBlue {
    background-color: var(--softBlue);
}

.green {
    background-color: var(--green);
}

.orange {
    background-color: var(--orange);
}

.yellow {
    background-color: var(--yellow);
}

.softGray {
    background-color: var(--softGray);
}

.darkGray {
    background-color: var(--darkGray);
}

.dark {
    color: var(--darkBlue)!important;
}


/* Typographies */

.columnItem {
    display: flex;
    height: fit-content;
    width: 100%;
}

.columnItem>span {
    height: fit-content;
    width: 5rem;
    font-size: 0.8571rem;
    margin: auto 3rem auto 0;
    color: var(--darkBlue);
}

.columnItem>span:last-of-type {
    margin: auto 0;
    width: fit-content;
    min-width: fit-content;
    text-align: right;
}


/* Tooltip */

.tooltip-example {
    text-align: center;
    padding: 0 50px;
}

.tooltip-example [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}

.ng-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}

.ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}

.ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
    opacity: 1;
}